@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-size: 100%;
    scroll-behavior: smooth;
    max-width: 1260px;
    min-width: 300px;
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    background-color:#F22E62;
    background-image: url(/apps/images/Holiday\ Illustration\ envelope\ full-01.png);
    background-repeat: no-repeat;
    object-fit: fill;
}
section{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;

}
.flex-child{
    background-color: #F2EFBB;
    position: absolute;
    width: 75%;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 35%;
    margin-right: 25%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 4px 8px#143B40;
}
p{
    font-family: 'Alice', serif;
    font-size: 1.999rem;
    text-align: center;
    color: #143B40;
}
a { 
    border: 5px solid cyan;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Alice', serif;
    font-size: 1.414rem;
    color: #143B40;
    text-align: center;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #F20544;
}
img{
    width: 100%;
}
#gift-01{ 
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
} 


/* media queries */
@media screen  and (max-width: 400px) {
    body {
        width: 75%;
        margin-left: 10%;
        margin-right: 10%;
    }
    p {
        font-size: 1.333rem;
    }
    a{
        font-size: .5rem;
        margin-left: 20%;
        margin-right: 20%;
    }
    body {
    background-image: url(/apps/images/Holiday\ Illustration\ envelope\ full-01.png);
    background-repeat: no-repeat;
    object-fit: cover;
    }
}